*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
iosBreezePoc/Pods/SDWebImage/
iosBreezePoc/Pods/SDWebImageSwiftUI/
iosBreezePoc/Pods/Target Support Files/SDWebImage/
iosBreezePoc/Pods/Target Support Files/SDWebImageSwiftUI/